name: CI
on:
  push:
    branches: [ master ]
  pull_request:
jobs:
  ciJvms:
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        java: ['8', '11', '17', '21']
    steps:
      - uses: actions/checkout@v6.0.0
        with:
          fetch-depth: 100
      - name: Fetch tags
        run: git fetch --depth=100 origin +refs/tags/*:refs/tags/*
      - uses: actions/setup-java@v5.0.0
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java }}
          cache: 'sbt'
      - name: sbt ci ${{ github.ref }}
        run: ./sbt ci

  ci:
    if: always()
    runs-on: ubuntu-24.04
    needs: [ ciJvms ]
    steps:
      - uses: re-actors/alls-green@release/v1
        with:
          jobs: ${{ toJSON(needs) }}

  tag-on-merge:
    name: Tag On Merge
    runs-on: ubuntu-24.04
    timeout-minutes: 30
    needs: [ ci ]
    if: github.event_name != 'pull_request'
    steps:
      - name: Bump version and push tag
        id: tag_version
        uses: mathieudutour/github-tag-action@v6.2
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          default_bump: patch
          fetch_all_tags: true
          tag_prefix: "v"
      - name: Create a GitHub release
        uses: ncipollo/release-action@v1
        with:
          tag: ${{ steps.tag_version.outputs.new_tag }}
          name: Release ${{ steps.tag_version.outputs.new_tag }}
          body: ${{ steps.tag_version.outputs.changelog }}
          token: ${{ secrets.GITHUB_TOKEN }}
          generateReleaseNotes: true
