name: Update Dependency Graph

on:
  push:
    branches:
      - master # default branch of the project

jobs:
  update-graph:
    name: Update Dependency Graph
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.2
      - uses: sbt/setup-sbt@v1
      - uses: scalacenter/sbt-dependency-submission@v3.2.1
