name: Release
on:
  release:
    types: [ published ]
jobs:
  release:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v6.0.0
      with:
        fetch-depth: 100
    - name: Fetch tags
      run: git fetch --depth=100 origin +refs/tags/*:refs/tags/*
    - uses: actions/setup-java@v5.0.0
      with:
        distribution: 'temurin'
        java-version: '8'
        cache: 'sbt'
    - name: sbt ci-release ${{ github.ref }}
      run: ./sbt ci-release
      env:
        PGP_PASSPHRASE: ${{ secrets.PGP_PASSPHRASE }}
        PGP_SECRET: ${{ secrets.PGP_SECRET }}
        SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
        SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
